Invoice for your recent video session
=====================================

Hi <%= @user_name %>,

You were recently charged $25.00 for a video session with your counselor.
This is just an invoice for your records, there's nothing you need to do.
As always, if you have any questions you can send us an email at
info@therapyhubapp.com

- The TherapyHub Team
