Your TherapyHub trial will expire in 3 days
===========================================

Hi <%= @user_name %>,

Thank you for joining TherapyHub. This is a quick reminder that
your trial will expire in 3 days. To continue having
access to your counselor after your trial ends
please add a credit card and you will have a seamless transition
to a paid account.

You can continue using TherapyHub as a free member if you choose.
However, you will be unmatched from your counselor, and we can't guarantee you
will get the same counselor the next time you upgrade to a paid account.

Thanks again for using TherapyHub, if you have any questions or feedback
please direct them to info@therapyhubapp.com

- The TherapyHub Team
