<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: sans-serif;
        max-width: 400px;
      }

      h1 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        line-height: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Your TherapyHub trial will expire in 3 days</h1>
    <p>
      Hi <%= @user_name %>,
    </p>
    <p>
      Thank you for joining TherapyHub,
    </p>
    <p>
      This is a quick reminder that
      your trial will expire in 3 days. To continue having
      access to your counselor after your trial ends
      please add a credit card and you will have a seamless transition
      to a paid account.
    </p>
    <p>
      You can continue using TherapyHub as a free member if you choose.
      However, you will be unmatched from your counselor, and we can't guarantee you
      will get the same counselor the next time you upgrade to a paid account.
    </p>
    <p>
      Thanks again for using TherapyHub, if you have any questions or feedback
      please direct them to info@therapyhubapp.com
    </p>
    <p>
      - The TherapyHub Team
    </p>
  </body>
</html>
