<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: sans-serif;
        max-width: 400px;
      }

      h1 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        line-height: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Invoice for your weekly text plan</h1>
    <p>
      Hi <%= @user_name %>,
    </p>
    <p>
      You were recently charged $20.00 for your weekly text plan.
      This is just an invoice for your records, there's nothing you need to do.
      As always, if you have any questions you can send us an email at
      info@therapyhubapp.com
    </p>
    <p>
      - The TherapyHub Team
    </p>
  </body>
</html>
