Invoice for your weekly text plan
=================================

Hi <%= @user_name %>,

You were recently charged $20.00 for your weekly text plan.
This is just an invoice for your records, there's nothing you need to do.
As always, if you have any questions you can send us an email at
info@therapyhubapp.com

- The TherapyHub Team
